#navbutton{
  margin-top: 1%;
}

#heading{
  text-align: center;
  font-family: 'Bungee Inline', cursive;
  font-size: 500%;
}

#welcomenote{
  font-family: 'Coming Soon', cursive;
  font-size: 200%;
  margin-top: 1%;
}

#leaugesbutton{
  /*margin-bottom: 5%;*/
  /*margin-left: 47%;*/
  margin-top: 1%;
}

#header{
  font-family: 'Coming Soon', cursive;
  font-size: 200%;
  margin-top: 1%;
}
