#navbutton{
  margin-top: 1%;
}

#heading{
  text-align: center;
  font-family: 'Bungee Inline', cursive;
  font-size: 500%;
}

p{
  font-family: 'Coming Soon', cursive;
  font-size: 200%;
  margin-top: 1%;
}

#leaugesbutton{
  margin-left: 50%;
}
