<form  action="/hero" method="post">
  <label for="name">name</label>
  <input id="name" type="text" class="form-control" name="name">
  <br>
  <button type="submit" class="btn btn-success">add!</button>
</form>
