<h1>Super Hero Caffe</h1>


  <h3>join a league</h3>



  <form  action="/tasks" method="post">
    <label for="name">name</label>
    <input id="name" type="text" class="form-control" name="name">
    <br>
    <button type="submit" class="btn btn-success">add!</button>
  </form>
