<!DOCTYPE html>
<html>
  <head>
    <title>Super hero Caffe</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Coming+Soon" rel="stylesheet">
    <link rel='stylesheet' href='/app.css'>

  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top ">
      <div class="container">
        <a href="/"><button id="navbutton"type="button" name="button" class="btn btn-danger">Home</button></a>
      </div>
    </nav>
      <div class="container">
        #parse( $template )
      </div>
  </body>
</html>
