<h1>All Leagues</h1>
<ul>
  #foreach($league in $leagues)
  <li><a href="/leagues/$league.getId()">$league.getName()</a></li>
  #end
</ul>

<img src="https://www.walldevil.com/wallpapers/w04/169129-batman-black-canary-black-lightning-characters-comics-dc-comics-green-lantern-hawkgirl-justice-league-of-america-red-arrow-red-tornado-superheroes-superman-vixen-comics-wonder-woman.jpg" alt="league_photo" width="100%" height="40%">

<h4>create your own league</h4>


<a href="/leagues/new"><button type="button" name="button" class="btn btn-success">new league</button></a>
