<h1>Create your own league</h1>

<form action="/leagues" method="post">
  <label for="name">Name Of Your Awsome League</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add League</button>
</form>
