<h1>Success!</h1>

<p>your League has been saved!</p>


<img src="http://i1.ytimg.com/vi/Dgosi8Mp41Q/hqdefault.jpg" alt="success" width="300" height="240">

<a href="/leagues"><button type="button" name="button" class="btn btn-success">back</button></a>
