<h1>All Leagues</h1>
<ul>
  #foreach($league in $leagues)
  <li><a href="/leagues/$league.getId()">$league.getName()</a></li>
  #end
</ul>

<a href="/leagues/new"><button type="button" name="button" class="btn btn-success">new league</button></a>
