<h1>$league.getName()</h1>
<ul>
  #foreach($hero in $heroes)
   <li>$hero.getName()</li>
  #end
</ul>

<hr>


<a href="/leagues"><button type="button" name="button" class="btn btn-success">Back</button></a>
<a href="/leagues/$league.getId()/hero/new"><button type="button" name="button" class="btn btn-success">New Hero</button></a>
<br>
<a href="/">Home</a>
